<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-header :: head">
	</head>
	<body>
		<div th:replace="fragments/fragment-header :: navigation"></div>
		<div style="padding-left:10px">
			<div style="width:25%;display:inline-block">
				<div style="margin-bottom:10px"><b>Tahun</b></div>				
				<div style="margin-bottom:10px"><b>Program Studi</b></div>				
				<div style="margin-bottom:10px"><b>Fakultas</b></div>
				<div style="margin-bottom:10px"><b>Universitas</b></div>
			</div>
			<div style="width:25%;display:inline-block">
				<div style="margin-bottom:10px" th:text="${tahun}">Tahun</div>				
				<div style="margin-bottom:10px" th:text="${prodi}">Program Studi</div>				
				<div style="margin-bottom:10px" th:text="${fakultas}">Fakultas</div>
				<div style="margin-bottom:10px" th:text="${universitas}">Universitas</div>
			</div>
			<div style="width:25%;display:inline-block">
				<div style="font-weight:400;font-size:60px;position:absolute;top:75px" th:text="${percentage}">Percentage</div>				
				<div style="margin-bottom:10px;position:absolute;top:150px" th:text="${detailPercentage}">Detail percentage</div>				
			</div>
		</div>
		<div th:replace="fragments/fragment-footer :: footer"></div>
	</body>
</html>